* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

html,
body {
  display: block;
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

header,
main,
section {
  display: block;
}